<div class="details">
  <div>
    <h4>Company</h4>
    <a routerLink="">About Us</a>
    <a routerLink="">Our Store</a>
    <a routerLink="">Contact us</a>
  </div>
  <div>
    <h4>Career Opportunities</h4>
    <a routerLink="">About Us</a>
    <a routerLink="">Our Store</a>
    <a routerLink="">Contact us</a>
  </div>
  <div>
    <h4>How to Buy</h4>
    <a routerLink="">About Us</a>
    <a routerLink="">Our Store</a>
    <a routerLink="">Contact us</a>
  </div>
  <div>
    <h4>Help</h4>
    <a routerLink="">About Us</a>
    <a routerLink="">Our Store</a>
    <a routerLink="">Contact us</a>
  </div>
</div>
<div class="copyright-part">
  <span>{{address}}</span>
  <span>&copy;{{currentYear}} Copyright in reserved for Modish shop</span>
</div>
