:host{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: inherit;
  margin-bottom: 3rem;

  img{
    width: 100px;
    height: 100px;
  }

  .title{
    color: #574964;
    font-weight: 500;
  }
}
